/**記事リストの src\pages\index.js とタグの記事リス src\templates\tags.js と {markdownRemark.frontmatter__slug}.js で利用してます*/

/* .indexFrame{
} */

.articleFrame {
  min-width: 770px;
  max-width: 960px;
  margin: 32px;
}

.articleBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 32px;
  border: 1px solid var(--line-color);
  padding: 32px;
  box-shadow: 0px 3px 3px var(--box-shadow-color);
}

img{
  width: 200px;
}

.articleData{
  width: 30%;
  text-align: center;
}

.articlePrev{
  font-size: 12px;
  width: 30%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.sideFrame{
  min-width: 256px;
  max-width: 320px;
  margin-left: 64px;
}

.tagHeader{
  width: auto;
  background-color: var(--main-color);
  padding: 12px;
  margin: 0 32px;
  color: var(--white);
  border-radius: 8px;
  font-weight: 500;
  text-align: center;
}

/* media query レスポンシブ */
@media(max-width: 1110px) {
  .articleFrame{
    min-width: 500px;
  }

  .sideFrame{
    min-width: 500px;
    max-width: 960px;
  }

  img{
    width: 100px;
  }
}

/* 
media query レスポンシブ
max:画面サイズが◯◯px以下に適用
min:画面サイズが◯◯px以上に適用
 */
@media(max-width: 500px) {
  .articleFrame{
    min-width: 440px;
    margin: 0px;
    justify-content: space-between;
  }

  img{
    width: 100px;
  }
}

/* iphone11 414 * 896 */
@media(max-width: 414px) {

  .sideFrame{
    min-width: 414px;
  }

  .articleFrame{
    min-width: 414px;
    margin: 16px 12px 16px -12px;
  }
}


@media(max-width: 390px) {

  .sideFrame{
    min-width: 390px;
  }

  .articleFrame{
    min-width: 330px;
    margin: -20px;
  }

  img{
    width: 70px;
  }

  .articleBox{
    padding: 8px 4px;
    font-size: 8px;
  }
}

