
/* 
サイト全体にかけたいようなものはこのlayout.cssにかけばある程度全体にかかると思います。
だいたい<Layout />コンポーネント使ってると思うので 
*/

body{
  color: var(--font-color);
}

.layoutFrame{
  display: flex;
  justify-content: center;
}

/* media query レスポンシブ */
@media(max-width: 1110px) {
  .layoutFrame{
    flex-direction: column
  }
}

/* @media(max-width: 1024px) {
  .layoutFrame{
    margin: 32px 64px 32px 24px;
  }
} */

@media(max-width: 820px) {
  .layoutFrame{
    margin: 32px 64px 32px 24px;
  }
}

/* iphone11 414 * 896 */
@media(max-width: 414px) {
  .layoutFrame{
    margin: 32px 12px 32px 12px;
  }
}


/* media query レスポンシブ */
@media(max-width: 390px) {
  .layoutFrame{
    display: block;
    margin: 8px;
  }
}