.tagsBox{
  width: auto;
  margin: 32px;
  border: 1px solid var(--line-color);
  box-shadow: 0px 3px 3px var(--box-shadow-color);
  text-align: center;
}

.aTotalCnt{
  font-size: 20px;
}

.title {
  width: auto;
  font-size: 24px;
  padding: 8px;
  color: var(--white);
  background-color: var(--main-color);
}

ul{
  padding-left:0;
}

li{
  margin-bottom: 16px;
  list-style:none;
}

/* レスポンシブ */
@media(max-width: 820px) {
  .tagsBox{
    margin: 32px 46px 32px 16px;
  }
}


/* iphone11 414 * 896 */
@media(max-width: 414px) {
  .profileBox{
    width: 356px;
    padding: 0;
    margin: 16px 0;
  }
}
